table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

button {
    background-color: steelblue;
    color:white;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
}

body {
    background-color: #f6fcca;
}